.calc-body {
  height: 526px;
  width: 360px;
  margin: 20px;
  background: #dda07a;
  border: 2px solid black;
  border-radius: 4px;
  float: left;

  input {
    width: 100%;
    font-size: 20px;
    border: 2px solid black;
    height: 50px;
    width: 300px;
    justify-content: center;
    display: flex;
    margin: 10px auto;
  }

  .keyboard {
    overflow-wrap: break-word;

    .main-button {
      padding: 14px 28px;
      font-size: 22px;
      font-weight: 600;
      cursor: pointer;
      display: inline-block;
      height: 90px;
      width: 90px;
    }
  }
}
